body{
    margin: 0;
}
 .fix-conteiner{
    width: 1000px;
    margin: 10px auto;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    padding: 7px;
    border: 1px solid rgb(211, 173, 255);
}
.form__input{
    width: 100%;
    outline:none;
    border: none;
}
.form__button{
    border: none;
    background: none;
}
.-icon{
    width: 20px;
}
.section-result{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.section-result__article{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 275px;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    padding: 10px;
}
.-tel::before{
    content: url(../img/free-icon-telephone-159832.png);
    zoom:3%;
}
.-mail::before{
    content: url(../img/free-icon-mail-icon-5757765.png);
    zoom:3%;
    vertical-align: middle;
}
.-link{
    text-decoration: none;
    color: gray;
}
.info-container{
    position: absolute;
    background: rgba(0, 0, 0, 0.144);
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0px;
}
.-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section{
    margin: 125px auto;
    width: 600px;
    background: white;
    border-radius: 20px;
    padding: 20px;
}
.article-about__img{
    width: 20px;
    height: 20px;
}